<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Email" id="email" type="text" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
  </form>
</div>
