<%= form_for :session, url: session_path do |form| %>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <%= form.label :email %>
          <%= form.text_field :email, type: 'email', placeholder: "Email" %>
        </div>
        <div class="input-field col s6">
          <%= form.label :password %>
          <%= form.password_field :password, placeholder: "Password" %>
        </div>
        <div class="input-field col s6">
          <% if Clearance.configuration.allow_sign_up? %>
            <%= link_to t(".sign_up"), sign_up_path %>
          <% end %>
          <%= link_to t(".forgot_password"), new_password_path %>
        </div>
      </div>
    </form>
  </div>
<% end %>
