<% @meme.each do |meme| %>
        <div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-image">
                <%= image_tag src=meme.image %>
              </div>
              <div class="card-content">
                <p><%= meme.title %></p>
              </div>
              <div class="card-action">
                <%= link_to("View Meme", meme_path(meme)) %>
              </div>
              <div class="card-action">
                <%= link_to( meme.user.username, user_path(meme.user)) %>
              </div>
              <div class="card-action">
                Posted at <%= meme.created_at.strftime('%c') %>
              </div>
            </div>
          </div>
        </div>
<% end %>
