<% @meme.each do |meme| %>
        <div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-image">
                <%= image_tag src=meme.image %>
              </div>
              <div class="card-content">
                <p><%= meme.title %></p>
              </div>
              <div class="card-action">
                <%= link_to("View Meme", meme_path(meme)) %>
              </div>
              <div class="card-action">
              Posted by  <%= link_to( meme.user.username, user_path(meme.user)) %>
              </div>
              <% if current_user %>
                <% fav = current_user.favorites.find_by(favorited_id: meme.id) %>
                <% if fav %>
                  <div class="card-action">
                    <%= link_to( "Remove from Favorites", favorite_meme_path(meme.id), method: :delete) %>
                  </div>
                  <% else %>
                  <div class="card-action">
                    <%= link_to( "Add to Favorites", favorite_memes_path(meme_id: meme), method: :post) %>
                  </div>
                  <% end %>
              <% end %>
              <div class="card-action">
                Posted at <%= meme.created_at.strftime('%c') %>
              </div>
              <%= social_share_button_tag(meme.title) %>
            </div>
          </div>
        </div>
  <% end %>
<%=  page_entries_info @meme %>
<%= will_paginate @meme %>
