<% @meme.each do |meme| %>
        <div class="row">
          <div class="col s12 m7 offset-m3">
            <div class="card hoverable">
              <div class="card-image">
                <%= image_tag src=meme.image %>
              </div>
              <div class="card-content">
                <p><%= meme.title %></p>
              </div>
              <div class="card-action">
                <%= link_to("View Meme", meme_path(meme)) %>
              </div>
              <div class="card-action">
              Posted by  <%= link_to( meme.user.username, user_path(meme.user)) %>
              </div>
              <% if current_user %>
                <% fav = current_user.favorites.find_by(favorited_id: meme.id) %>
                <% if fav %>
                  <div class="card-action">
                    <%= link_to( "Remove from Favorites", favorite_meme_path(meme.id), method: :delete) %>
                  </div>
                  <% else %>
                    <%= link_to favorite_memes_path(meme_id: meme), method: :post do %>
                    <div class="card-action">
                      <span><p><i class="material-icons prefix favorite">favorite</i>Faovrite</p></span>
                    </div>
                    <% end %>
                  <% end %>
              <% end %>
              <%= link_to like_meme_path(meme), class: "like-btn", method: :post, remote: :true do %>
              <div>
                <span><p><i class="material-icons prefix thumb-up">thumb_up</i>Like</p></span>
              </div>
              <% end %>
              <span class="likes-count"><%= meme.get_upvotes.size %></span>
              <div class="card-action">
                Posted at <%= meme.created_at.strftime('%c') %>
              </div>
              <%= social_share_button_tag(meme.title) %>
            </div>
          </div>
        </div>
  <% end %>
<%=  page_entries_info @meme %>
<%= will_paginate @meme %>
