<%= image_tag('show-meme.png', class: "meme-show") %>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <%= image_tag (@meme.image) %>
        </div>
        <div class="card-content">
          <p><%= @meme.title %></p>
        </div>
        <div class="card-action">
          Posted by  <%= link_to( @meme.user.username, user_path(@meme.user)) %>
        </div>
        <% if current_user %>
          <% fav = current_user.favorites.find_by(favorited_id: @meme.id) %>
            <% if fav %>
              <%= link_to favorite_meme_path(@meme.id), method: :delete do %>
              <div class="card-action">
                <span>
                  <p>
                    <i class="material-icons prefix unfavorite">favorite_border</i>Remove From Favorites</p>
                </span>
              </div>
              <% end %>
          <% else %>
            <%= link_to favorite_memes_path(meme_id: @meme), method: :post do %>
            <div class="card-action">
              <span>
                <p>
                  <i class="material-icons prefix favorite">favorite</i>Favorite</p>
              </span>
            </div>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to like_meme_path(@meme), class: "like-btn", method: :post, remote: :true do %>
        <div>
          <span><p><i class="material-icons prefix thumb-up">thumb_up</i></p></span>
        </div>
        <% end %>
        <span class="likes-count"><%= @meme.get_upvotes.size %></span>
        <div class="card-action">
          Posted at <%= @meme.created_at.strftime('%c') %>
        </div>
        <%= social_share_button_tag(@meme.title) %>
      </div>
        <div class="card-action">
          <% if signed_in? && current_user.id ==  @meme.user_id %>
          <%= button_to "Edit Meme", edit_meme_path, method: "get", action: "edit", class: "btn" %><br>
          <%= button_to "Delete Meme", "/memes/#{@meme.id}", method: "delete", action: "destroy", class: "btn",  data: {confirm: "Are you sure you want to delete this awesome meme?"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
