<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <br><%= form.submit class: 'btn'%><br>
    </div>

    <div class="other-links">
      <br><%= link_to t(".sign_in"), sign_in_path, class: 'btn' %><br>
    </div>
  <% end %>
  <div class="facebook-sign-in">
    <%= link_to "Sign up with Facebook", "https://www.facebook.com/v2.10/dialog/oauth?client_id=#{Rails.application.secrets.facebook_app_id}&redirect_uri=#{ auth_facebook_callback_url }", class: "btn" %>
  </div>
</div>
