<h1><%= @user.username %></h1>
<h2>Meme Posts</h2>
<% @user.memes.each do |meme| %>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <%= image_tag src=meme.image %>
      </div>
      <div class="card-content">
        <p><%= meme.title %></p>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
</div>
<% end %>

<h2>Favorite Memes</h2>

<% @user.favorite_memes.each do |meme| %>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <%= image_tag src=meme.image %>
      </div>
      <div class="card-content">
        <p><%= meme.title %></p>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
</div>
<% end %>
