<!DOCTYPE html>
<html>
<head>
  <title>MemeWars</title>
  <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div id="header">
    <nav>
      <div class="nav-wrapper blue lighten-4">
        <%= link_to "Home" , root_path, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li> <%= link_to "Home" , root_path %> </li>
          <li> <%= link_to "Memes", memes_path %> </li>
          <li> <%= link_to "Post", new_meme_path %> </li>
          <% if signed_in? -%>
            <li><%= link_to "Profile", user_path(current_user)%></li>
            <li><%= button_to t(".sign_out"), sign_out_path, method: :delete, class: "waves-effect waves-light btn-flat"%></li>
            <li><%= current_user.username %></li>
          <% else -%>
            <%= link_to t(".sign_in"), sign_in_path %>
            <%= link_to t(".sign_up"), sign_up_path %>
          <% end -%>
        </ul>
      </div>
    </nav>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
